[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = git://gitorious.org/vim-gnupg/vim-gnupg.git
