[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = git://gitorious.org/vim-gnupg/vim-gnupg.git
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/Smart-Tabs"]
	path = bundle/Smart-Tabs
	url = git://github.com/vim-scripts/Smart-Tabs.git
[submodule "bundle/emacsmodeline"]
	path = bundle/emacsmodeline
	url = git://github.com/vim-scripts/emacsmodeline.vim.git
[submodule "bundle/LaTeX-Suite"]
	path = bundle/LaTeX-Suite
	url = git://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vala"]
	path = bundle/vala
	url = git://github.com/rainux/vim-vala.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
